
body {
    background-image: url('../../../src/images/background4.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-origin: content-box;; 
    background-size: cover;
    min-height: 100vh;
    margin: 0px;
    padding:0px;
}




.flex-containerLabel {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  column-gap: 30px;
}


.flex-containerForm{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 0px;
  column-gap: 150px;
  margin-left:35px;
}


h1 {
    color:rgb(247, 238, 238);
    text-align: center;
    margin-top: 0px;
    margin-bottom:10px;
    font: bold 22px Verdana;
    text-shadow: 1px 1px 2px rgba(6, 2, 61, 0.4);
}

h2 {
  color:rgb(247, 238, 238);
    text-align: left;
    margin-left:55px;
    margin-top: 20px;
    margin-bottom:10px;
    font: bold 33px Verdana;
    text-shadow: 1px 1px 2px rgba(6, 2, 61, 0.4);

}

.h4 {
  color: #373434b5;
  text-transform:uppercase;
  font-size:18px;
  display: block;
  text-align: center;
  margin-top:7px;
  margin-bottom:35px;
  
}


.p1 {
    color: rgb(244, 238, 238);
    text-align: left;
    margin-left: 60px;
    margin-top:30px;
    margin-bottom:0px;
    font: 18px Verdana;
    
}


.p2{
  color: rgb(247, 241, 241);
  text-align: left;
  margin-left: 60px;
  margin-top:25px;
  margin-bottom: 30px;
  font: 18px Verdana;

}


.toggle {
  --width: 90px;
  --height: calc(var(--width) / 3);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 10px;
  margin-left: 0px;
}


.toggle input {
  display: none;
}


.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s;;
}


.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}


.toggle input:checked+.slider {
  background-color: #24da1e;
}

.toggle input:checked+.slider::before {
  transform: translateX(calc(var(--width) - var(--height)));

  
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font: 12px Verdana;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: calc(var(--height) - var(--width) + 2px);
  color: #ffffff;
  opacity: 0;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle input:checked~.labels::before {
  opacity: 1;
  transform: translateX(calc(var(--width) - var(--height)));
}


.myForm{
  position: relative;
  width: 400px;
  border-radius:1px;
	border:1px solid #dcdcdc;
  background-color: rgba(255, 255, 255, 0.89);
  font: 15px Verdana;
  box-shadow: rgba(242, 240, 240, 0.15) 1.95px 1.95px 2.6px;
  padding:10px;
  margin: 8px 25px 30px 25px;
}

.mySelect {
  position: relative;
  font: 16px Verdana; 
  font-weight:100;
  color:#3734347a;
  margin-left:24px;
  background-color: rgba(255, 255, 255, 0.1);
  padding:4px 0 4px 0;
  width:85%;
  border-radius: 4px;
  border: 1px solid #393838;

}

.mySelect:hover{
    background-color: rgba(180, 184, 215,0.4);
    border:none;
   
}

.mySelect:focus,
.mySelect:valid ::after{
  outline:none;
  background-color: rgba(180, 184, 215,0.4);
  font: 16px Verdana;
  color:rgba(0, 0, 0, 0.959);
  
}


.inputForm{
    position:relative;
    width: 85%;
    font: 12px Verdana;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    border-radius: 0px;
    margin-left:25px;
    padding:4px 0 6px 0;
    max-width: 100%;
    
}

.inputForm input:hover{
    background-color: rgba(180, 184, 215,0.4);
    font: 12px Verdana;
    border:none;
    transition: all 0.2s ease-in-out;
  
}



.inputForm input{
    border: none;
    border-bottom: 1px solid #393838;
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
    font: 14px Verdana;
    padding:4px 0 8px 0;
    width: 100%;
    margin-top:20px;
    position:relative;
  }

.inputForm label{
  font-size: 16px;
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 5px;
  pointer-events: none;
  transform: translateY(18px);
  color:#3734347a;
  transition: all 0.2s ease-in-out;
}

.inputForm input:valid,
.inputForm input:focus {
  border:0;	
  outline:none;
  background-color: rgba(180, 184, 215,0.4);
  font: 14px Verdana;
}

.inputForm input:valid + label,
.inputForm input:focus + label {
    color:   #000000;
    font: 12px Verdana;
    transform: translateY(0);
    outline:none;
}

.inputButtonSubmit {
  position:relative;
	box-shadow:inset 0px 1px 0px 0px #483ab0;
	background:linear-gradient(to bottom, #045fcf 5%, #0061a7 100%);
	background-color:#045fcf;
	border-radius:3px;
	border:1px solid #2131e8;
	display:inline-block;
	cursor:pointer;
  color:#ffffff;
	font-size:16px Verdana;
	padding:13px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #364164;
  margin-left: 25px;
  margin-top:10px;
}

.inputButtonSubmit:hover{
  background:linear-gradient(to bottom, #0061a7 5%, #045fcf 100%);
	background-color:#0061a7;
}

.inputButtonSubmit:active{
  background:linear-gradient(to bottom, #004379  5%, #002e4e 100%);
  background-color: #004379 ;
  border:0;
}



.allert{
  margin-left:200px;
  margin-top:10px;
  margin-bottom:15px;
  width: 170px;
  font: italic 10px Verdana;
  color: red;
}  

.myButton {
	box-shadow:inset 0px 1px 0px 0px #483ab0;
	background:linear-gradient(to bottom, #045fcf 5%, #0061a7 100%);
	background-color:#045fcf;
	border-radius:3px;
	border:1px solid #2131e8;
	display:inline-block;
	cursor:pointer;
	font: 15px Verdana;
	color: #ffffff;
	padding: 12px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #364164;
  margin-bottom:25px;
  margin-left:-35px;
  margin-top:18px;
	
}
.myButton:hover {
  background:linear-gradient(to bottom, #0061a7 5%, #045fcf 100%);
	background-color:#0061a7;
}
.myButton:active {
  background:linear-gradient(to bottom, #004379  5%, #002e4e 100%);
  background-color: #004379 ;
  border:0;
}




.msg{
  color:rgb(168, 165, 165);
  font: 15px Verdana;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top:32px;
}

.msg1{
  color:rgb(168, 165, 165);
  font: 15px Verdana;
  margin-bottom: 15px;
  margin-top:30px;
}

.msg2{
  color:#24da1e;
  font: italic 12px Verdana;
  text-shadow: 1px 1px 1px rgba(158, 255, 149, 1);
  margin-bottom: 15px;
  margin-top:25px;
  margin-left:30px;
}





